.card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 30px;
    color: white;
    background: #594f4f;
    box-shadow: 1.5px 1.5px 3px rgb(25, 25, 25), -1.5px -1.5px 3px rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
   
   
   
.img{
    width: 90%;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    align-items: center;
}